:root {
  --color-1: #f2f4f7;
  --color-1-tint: #ffffff;
  --color-1-shade: #b5c1d2;
  --color-1-fade: #b5c1d280;

  /* --color-2: #711308;
  --color-2-tint: #8d180a;
  --color-2-shade: #5a0f06;
  --color-2-fade: #5a0f0680; */

  --color-2: #1f1f21;
  --color-2-tint: #272729;
  --color-2-shade: #19191a;
  --color-2-fade: #19191a80;

  --color-2: #083a50;
  --color-2-tint: #0a4864;
  --color-2-shade: #062e40;
  --color-2-fade: #062e4080;

  /* --clist: var(--color-2), var(--color-2); */

  /* --color-3: #d4c194;
  --color-3-tint: #e0cf9e;
  --color-3-shade: #c6b585;
  --color-3-fade: #c6b58580; */

  --color-3: #9abcba;
  --color-3-tint: #abc7c5;
  --color-3-shade: #7f9a98;
  --color-3-fade: #71a19e80;

  /* --color-4: #989956;
  --color-4-tint: #b2b378;
  --color-4-shade: #7a7a45;
  --color-4-fade: #7a7a4580; */

  --color-4: #b07939;
  --color-4-tint: #c9965a;
  --color-4-shade: #8d612e;
  --color-4-fade: #8d612e80;

  --clist: var(--color-4), var(--color-4-shade);
  --clist: var(--color-2), var(--color-2-shade);


  --body-bg: #eaeaea;
  --text-primary: #212121;
  /* --text-secondary: #aaaaaa; */
  /* --text-secondary: #c2c4c7; */
  /* --text-muted: #7c7c7c; */

  /* --divider: #1e2a48;
  --divider: #CEAA94; */

  /* --divider-color: #e7edf3; */
  --divider-color: #dfe6e9;

  --grid-hor-color: #e6e6e6;
  --grid-hor-color: #f0f0f080;
  /* --grid-hor-color: #d6d6d652; */

  --img-shadow: 0 1px 2px 1px rgba(109,110,112,0.22);
}

::selection {
  /* color: var(--color-2-tint); */
  background: var(--color-3-tint);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  /* color: var(--color-3); */
}

body {
  /* font-family: K2D, Helvetica, Arial, sans-serif; */
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  background-color: var(--body-bg);
  color: var(--text-primary);
  letter-spacing: 0.4em;
  letter-spacing: .5px;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
  /* line-height: 2; */
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  /* background-attachment: scroll;
  background-color: transparent;
  background-image: url("/assets/icons/bg-pattern.svg"), none;
  background-position: 50% -110px;
  background-repeat: no-repeat;
  padding: 50px 0 30px 0;
  width: 100%; */
}

/* Navigation */

.site-header {
  color: var(--text-primary);
  background-color: var(--color-1);
  /* background-image: linear-gradient(180deg, var(--color-1-tint) 0, var(--color-1) 100%); */
  /* background-image: linear-gradient(180deg, var(--color-1) 0, #c6c9cc 100%); */
  background-image: linear-gradient(180deg, var(--color-1) 0, #dbe1e7 100%);
  /* border-bottom: 2px solid #866565; */
  border-bottom: 1px solid var(--color-2-shade);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
  box-shadow: 0 5px 7px -6px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 20px 0 rgba(46,61,73,.2); */
  box-shadow: 0 10px 20px -12px rgba(0,0,0,.42),0 3px 20px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
  box-shadow: 0 6px 31px -2px rgba(0,0,0,.1);
  box-shadow: 0 5px 20px -10px #000;
  box-shadow: 0 5px 20px -10px rgba(0,0,0,.5);
}

.navbar-expand-md .navbar-collapse {
  flex-basis: 100%;
}

/* .offcanvas {
  background-image: url("/assets/icons/bg-valley-white-static.svg");
  background-image: url("/assets/icons/bg-valley-white.svg");
  background-image: url("/assets/icons/bg-pattern.svg");
  background-image: url("/assets/icons/circles.svg");
  background-image: url("/assets/icons/grid.svg");
  background-image: url("/assets/icons/dot-lines.svg");
} */

/* Main Content */

.hero {
  position: relative;
  color: var(--color-1);
  background-color: var(--color-2-shade);
  /* background-image: url("/assets/images/bg-home.jpg"); */
  /* background-image: linear-gradient(135deg, rgb(0, 0, 0, 0.44)rgb(8, 58, 80, 0.15)); */
  background-image: linear-gradient(45deg, transparent, #00000080), url("/assets/images/bg-home.jpg");
  background-size: cover;
  background-repeat: round;
  /* background-blend-mode: luminosity; */
  /* min-height: 350px; */
  padding: 95px 0 3rem;
  overflow: hidden;
  /* box-shadow: 0 0 40px rgba(0,0,0,.2); */
}

.banner {
  position: relative;
  color: var(--color-1);
  /* background-color: var(--color-2-shade); */
  background-color: var(--color-2);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2300000040' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a0a0a080' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  min-height: 300px;
  padding: 95px 0 3rem;
  overflow: hidden;
  /* box-shadow: 0 0 40px rgba(0,0,0,.2); */
}

/* .hero-bg {
  background: linear-gradient(45deg, var(--color-2-shade) 0%,var(--color-2) 100%);
  background-image: url("/assets/icons/block.svg");
  background-image: url("/assets/images/pattern.jpg");
  background-image: url("/assets/icons/brick-wall.svg");
  background-image: url("/assets/icons/brick-wall1.svg");
  background-image: url("/assets/icons/brick-wall2.svg");
} */

/* .hero-bg:after {
  background-image: url("/assets/images/lion.jpg");
  background-position: 50%;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  z-index: -1;
} */

/* #map {
  background-image: url("/assets/icons/map.jpg");
} */


/* Common styles */
.section {
  position: relative;
  padding-top: 70px;
  /* padding-bottom: 80px; */
  /* margin-bottom: 1em; */
  /* padding-bottom: 4rem; */
  padding-bottom: 3rem;
  margin-top: 3rem;
  overflow: hidden;
}

/* .section:nth-child(odd) {
  background-color: #d4c194;
} */

.card {
  /* box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1); */
  /* background-color: transparent; */
  /* padding: .5em; */
  /* border: none; */
  border: solid 2px #ccc;
  box-shadow: 0 .25rem .75rem rgba(0,0,0,.15);
  box-shadow: 0 0 0.7rem #cccccc;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 4px 2px #b5b5b540;
  transition: box-shadow 0.5s;
}

/* .card:before {
  content: "";
  background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  border-radius: 12px;
} */

.card:hover {
  /* box-shadow: 0px 0px 6px 0px #ababab;   */
  /* box-shadow: 0px 0px 7px 4px #ababab; */
  /* box-shadow: 0 0 40px rgba(0,0,0,.2); */
  /* box-shadow: 0 0 20px rgba(0,0,0,.2); */
}

.testimonial-card {
  /* height: 450px; */
  height: 470px;
  /* min-height: 250px; */
  /* min-height: 100vh; */
  /* width: 300px; */
  width: 100%;
  max-width: 300px;
  line-height: 1.5;
  margin: auto;
}

.display-card {
  color: var(--text-primary);
  max-width: 350px;
}

.item-card {
  position: relative;
  /* background-color: #f0f; */
  margin-top: 8rem;
  /* margin-bottom: 5rem; */
  /* border: 4px solid rgba(0, 0, 0, 0.125); */
  border-radius: 0.25rem;
}

/* .chip {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1.25em auto;
  border: solid 0.5em transparent;
  padding: 0.25em;
  width: 26em;
  height: 5em;
  border-radius: 2.5em;
  background: Linear-gradient(#dbdbdb, #fff) content-box, Linear-gradient(var(--clist)) padding-box, Linear-gradient(#fff, #dcdcdc) border-box;
  background: Linear-gradient(#dbdbdb, #fff) content-box, Linear-gradient(#fff, #dcdcdc) border-box;
  font: 1.5rem;
  line-height: 1.3;
  text-align: center;
  text-indent: 1em;
  -webkit-clip-path: inset(0 round 2.5em);
  clip-path: inset(0 round 2.5em);
  counter-increment: c;
} */

.chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: Linear-gradient(#dbdbdb, #fff) content-box, Linear-gradient(#fff, #dcdcdc) border-box;
  /* margin: 1.25em auto; */
  /* border: solid 0.5em transparent; */
  /* border: solid 5px transparent; */
  border: solid 2px transparent;
  /* width: 26em; */
  height: 4em;
  border-radius: 2.5em;
  /* background: Linear-gradient(#dbdbdb, #fff) content-box, Linear-gradient(var(--clist)) padding-box, Linear-gradient(#fff, #dcdcdc) border-box; */
  /* padding: 0.25em; */
  /* font-size: 1.5rem; */
  line-height: 1.3;
  /* text-align: center;
  text-indent: 1em; */
  -webkit-clip-path: inset(0 round 2em);
  clip-path: inset(0 round 2em);
}

.chip-deco {
  position: absolute;
  display: flex;
  /* right: -0.5em; */
  left: -0.5em;
  width: 4em;
  height: 4em;
  border-radius: 0.5em;
  /* border-radius: 50% 0 50% 50%; */
  transform: rotate(45deg);
  /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.2); */
  background: Linear-gradient(-45deg, #e4e4e4 calc(50% - 2em), #fff calc(50% + 2em));
}

.chip-title {
  margin-left: 4em;
  /* margin-left: 4.5em; */
  padding: 8px;
}

.chip-icon {
  display: grid;
  place-content: center;
  /* background: Linear-gradient(var(--clist)); */
  color: var(--color-1);
  width: 3em;
  height: 3em;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-45deg);
  box-shadow: inset 0 0 1px 5px #d3d3d3;
  background: Linear-gradient(var(--clist)) padding-box, Linear-gradient(#d0d0d0, #e7e7e7) border-box;
  box-shadow: inset 0 0 0px 5px #ffffff80, inset 0 0 rgb(0 0 0 / 10%);
  box-shadow: inset 0 0 0px 5px #00000080, inset 0 0 rgb(0 0 0 / 10%);
  /* background: Linear-gradient(#d0d0d0, #e7e7e7) border-box; */
  /* box-shadow: inset 0 0 0px 5px #efefef, inset 0 0 rgb(0 0 0 / 10%); */
  /* box-shadow: inset 0 0 1px 1px #efefef; */
 /* text-indent: 0; */
}


.chipcard {
  /* background: Linear-gradient(#fff, #ccc) content-box, Linear-gradient(#ccc, #000) border-box; */
  background: Linear-gradient(#fff, #ccc) content-box, Linear-gradient(#cccccc80, #00000080) border-box;
  background: Linear-gradient(#fff, #ddd) content-box, Linear-gradient(#cccccc80, #00000080) border-box;
  border: solid 2px transparent;
}

/* .feature-marker {
  color: var(--color-4);
  font-size: 1.2rem;
} */

.check-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.check-list li:before {
  position: absolute;
  content: "";
  /* display: inline-block; */
  width: 1.25em;
  height: 1.25em;
  width: 1em;
  height: 1em;
  /* top: 0.5em; */
  top: 5px;
  left: 0;
  /* background-position: 50%; */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 512 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z'%3e%3c/path%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23083a50' viewBox='0 0 512 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z'%3e%3c/path%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%237f9a98' viewBox='0 0 512 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z'%3e%3c/path%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23b07939' viewBox='0 0 512 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z'%3e%3c/path%3e%3c/svg%3e");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: inherit;
  /* transition: transform 0.5s, color 0.4s; */
}

.header-link {
  /* color: #100404; */
  position: relative;
  font-size: 1.3em;
  margin: auto 1vw;
}

.header-link:hover,
.header-link.active {
  color: var(--color-2);
}

.header-link:after {
  content: "";
  display: block;
  position: absolute;
  /* width: 0; */
  width: 50%;
  left: 25%;
  /* bottom: 0; */
  bottom: -0.5rem;
  border-bottom: 4px solid var(--color-2);
  border-bottom: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  transition: border-bottom 0.4s;
}

.header-link:hover:after,
.header-link.active:after {
  /* border-color: var(--color-2); */
  /* width: 50%; */
  border-bottom: 5px solid var(--color-2);
}

.footer-link {
  /* padding-left: 0; */
  transition: transform 0.5s, color 0.6s;
}

.footer-link:hover {
  transform: translate(5px);
}

.link {
  /* color: var(--text-primary); */
  /* color: var(--color-2); */
  text-decoration: none;
  /* transition: color 0.5s; */
  transition: color 0.5s, opacity 0.5s;
}

.link-accent {
  position: relative;
  border-bottom: 2px solid var(--color-2);
}

.link:hover,
.link:focus,
.footer-link:hover,
.footer-link:focus {
  /* color: var(--color-3); */
  /* color: #fa0; */
  /* color: inherit; */
  color: var(--color-3);
  /* background: none; */
  /* text-decoration: none; */
  /* opacity: 0.9; */
  /* transition: color 0.4s; */
}

.arrow-link {
  position: relative;
  /* background-color: var(--color-1); */
  /* color: var(--color-2); */
  background-color: inherit;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  /* padding: 0.5rem; */
  /* border: 2px solid; */
  padding: 0.375rem 0.75rem;
  margin: 0.5rem;
  border: 4px solid var(--color-1-fade);
  border-radius: 4px;
}

/* .arrow-link:hover {
  background-color: var(--color-1-shade);
  color: var(--color-3);
} */

/* .arrow-link:after {
  display: inline-block;
  content: "";
  height: 28px;
  width: 16px;
  margin-left: 10px;
  background-image: url(//cdn.corporatefinanceinstitute.com/wp-content/themes/cfi/dist/styles/../images/arrow-link.svg);
  background-size: 13px 12px;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: margin-left .2s;
} */

.arrow-link:hover .bi, 
.btn:hover .bi {
  transform: translateX(8px);
  /* transition: color .5s; */
  /* transition: transform 0.6s, color 0.4s; */
}

.sidebar-link {
  position: relative;
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  /* line-height: 3; */
  /* margin: 0.5em 1em; */
  transition: color 0.5s;
}

.sidebar-link:hover,
.sidebar-link.active {
  color: var(--color-3);
  /* color: var(--color-2-tint); */
}

.sidebar-link:before {
  content: "";
  display: block;
  position: absolute;
  /* height: 0; */
  height: 100%;
  left: -1rem;
  bottom: 0;
  border-left: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  transition: border-left .5s;
}

.sidebar-link:hover:before,
.sidebar-link.active:before {
  /* border-left: 4px solid var(--color-2); */
  border-left: 4px solid var(--color-3);
}

/* .link-icon {
  display: inline-block;
  font-size: 1.75rem;
  margin: 0 1.5rem 0.5rem 0;
  transition: color 1s;
} */

/* .link-icon:hover {
  color: var(--color-3);
  color: var(--color-2-tint);
} */

.link-icon {
  /* display: inline-block; */
  display: inline-flex;
  /* font-size: 1.75rem; */
  font-size: 1.5rem;
  background-color: var(--color-1-tint);
  color: var(--color-2);
  /* border-radius: 25%; */  
  border-radius: 50%;
  border-radius: 4px;
  /* border: 4px solid var(--color-2-fade); */
  border: 4px solid var(--color-1-fade);
  margin: 0.5rem 1rem 0.5rem 0;
  transition: all 0.5s;
}

.link-icon svg{
  /* margin: 0.5rem; */
  margin: 0.25rem;
}

.link-icon:hover {
  background-color: var(--color-2);
  color: var(--color-1-tint);
}

.icon {
  display: inline-block;
  /* width: 2em; */
  /* height: 2em; */
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.go-to-top-link {
  /* transition: .2s; */
  position: fixed;
  /* color: var(--color-3); */
  bottom: 0;
  right: 0;
  /* bottom: 1.2rem;
  right: 1.5rem; */
  /* visibility: hidden; */
  /* opacity: 0; */
  z-index: 15;
}

.go-to-top-link:hover {
  color: var(--color-1);
}

.page-link {
  color: var(--color-2);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
  color: var(--color-2-shade);
}

.page-item.active .page-link {
  background-color:var(--color-2);
  border-color: var(--color-2);
}

.heading {
  /* font-weight: bold; */
  color: var(--color-2-shade);
  margin-bottom: 1rem;
  /* letter-spacing: .5px; */
}

.title {
  /* font-weight: bold; */
  margin-bottom: 3rem;
  /* letter-spacing: .5px; */
}

.sub-title {
  position: relative;
  color: var(--color-2-shade);
  text-align: center;
  /* text-transform: uppercase; */
}

/* .sub-title:after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--color-3) transparent transparent transparent;
} */


/* Button styles */

.navbar-toggler {
  color: inherit;
}

.btn {
  position: relative;
  /* font-size: 0.8em; */
  /* font-size: 0.9rem; */
  color: inherit;
  font-weight: 500;
  /* font-weight: 900; */
  /* text-transform: uppercase; */
  /* letter-spacing: .5px; */
  /* padding: 1rem; */
  /* padding: 0.5rem; */
  margin: 0.5rem;
  /* border-radius: 25px; */
  transition: background 1s, color 0.6s;
}

.btn-main {
  background-color: var(--color-2);
  background-image: linear-gradient(180deg, var(--color-2-tint) 0%, var(--color-2-shade) 100%);
  color: var(--color-1);
  /* border: 1px solid var(--color-2-tint); */
  border: none;
}

.btn-accent {
  background-color: var(--color-3);
  background-image: linear-gradient(180deg, var(--color-3-tint) 0%, var(--color-3-shade) 100%);
  color: var(--text-primary);
  /* border: 1px solid var(--color-3-tint); */
  border: none;
}

.btn-gold {
  background-color: var(--color-4);
  background-image: linear-gradient(180deg, var(--color-4-tint) 0%, var(--color-4-shade) 100%);
  color: var(--text-primary);
  /* border: 1px solid var(--color-4-tint); */
  border: none;
}

.btn-white {
  background-color: var(--color-1);
  background-image: linear-gradient(180deg, var(--color-1-tint) 0%, var(--color-1-shade) 100%);
  color: var(--text-primary);
  /* border: 1px solid var(--color-1-tint); */
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: var(--color-1-shade);
  /* background: var(--color-2); */
  /* background-image: none; */
  color: var(--text-primary);
  /* color: var(--color-1); */
  /* border: 1px solid var(--color-2); */
  /* opacity: 0.7; */
  /* transition: .6s; */
}

/* .carousel-indicators {
  margin-right: 0;
  margin-left: 0;
} */

/* .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
} */

.carousel {
  height: 400px;
  /* height: 350px; */
}

/* .carousel-inner {
  height: 400px;
  height: 350px;
} */

.carousel-indicators {
  margin-bottom: -2.5rem;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--color-2);
  width: 0.5rem;
  height: 0.5rem;
  /* border-radius: 50%; */
  border-radius: 25%;
  margin: 0 12px;
  border: none;
  outline: transparent solid 3px;
  /* outline-offset: 4px; */
  outline-offset: 4px;
  transition: all 1.5s;
}

.carousel-indicators [data-bs-target]:focus,
.carousel-indicators .active {
  /* outline-color: var(--color-2); */
  outline: var(--color-2) solid 3px;
  background-color: transparent;
}


/* .thumbnail-border {
  border: 1px solid #c8ccd1;
  padding: 3px;
  background-color: #f8f9fa;
  overflow: hidden;
} */

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
  /* transition: color .5s; */
  transition: transform 0.5s, color 0.5s;
}

.cta-accent {
  background-color: var(--color-3-fade);
  /* background-image: linear-gradient(180deg, var(--color-3) 0%, var(--color-3-shade) 100%); */
  /* border-radius: 4px; */
}

.cta-white {
  background-color: var(--color-1);
  /* background-image: linear-gradient(180deg, var(--color-1) 0%, var(--color-1-shade) 100%); */
  /* border-radius: 4px; */
}

.cta-main {
  background-color: var(--color-2-fade);
  color: var(--color-1);
  /* background-image: linear-gradient(180deg, var(--color-1) 0%, var(--color-1-shade) 100%); */
  /* border-radius: 4px; */
}

.cta-green {
  /* background-color: var(--divider); */
  /* background-color: var(--color-4-fade); */
  background-color: var(--color-2-shade);
  /* background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2300000030' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  /* background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2300000020' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff20' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: var(--color-1);
}

.cta-divider {
  background-color: var(--divider-color);
  /* background-color: var(--color-4-fade); */
  /* background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2300000030' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2300000020' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* color: var(--color-1); */
}

.cta-contact {
  position: relative;
  background-color: #676767;
  background-color: var(--color-4-fade);
  background-color: var(--divider-color);
  /* color: white; */
  /* background-image: url("/assets/icons/organic-dots.svg"); */
  /* background-image: url("/assets/icons/grid-dots-missing.svg"); */
  background-image: url("/assets/icons/mobile-shape-bottom.svg");
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1012' height='254'%3E%3Cpath d='M0 253.5V.5l384.12 218.03C424.1 241.26 464.63 252.2 506 252.2s81.9-10.94 121.88-33.67L1012 1.66V253.5H0z' fill='%23eaeaea' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: cover;
  /* background-origin: content-box; */
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.muted {
  /* color: var(--text-muted);
  color: #9e9e9e; */
  /* opacity: 0.7; */
  opacity: 0.8;
}

.accent-orange {
  color: var(--color-4-tint)
}

.accent-green {
  color: var(--color-3)
}

.accent-white {
  color: var(--color-1-shade)
}

/* .accent:hover {
  color: var(--color-2)
} */

.text-gold-50 {
  color: var(--color-4-fade);
}

.text-grey {
  color: #808080;
}

.bg-dots {
  background-image: url("/assets/icons/dot-lines.svg");
}

/* .bg-hex {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23efefef' fill-opacity='0.49' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f2f2f2' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-grid {
  background-image: linear-gradient(var(--grid-hor-color) 1px,transparent 1px),linear-gradient(90deg,var(--grid-hor-color) 1px,transparent 1px);
  background-size: 25px 25px,25px 25px;
  background-position: -1px -1px,-1px -1px;
} */


.theme {
  color: var(--color-2)
}

.theme-shade {
  color: var(--color-2-shade)
}

.theme-bg {
  /* background-color: var(--color-2); */
  background-color: var(--color-2-shade);
  color: var(--color-1);
}

.theme-bg-fade {
  background-color: var(--color-2-fade);
  color: var(--color-1);
}

.theme-linear-bg {
  background-color: var(--color-2);
  background: linear-gradient(45deg, var(--color-2-shade) 0%,var(--color-2) 100%);
}

.form-container {
  max-width: 600px;
}

.form-message.form-control {
  min-height: 100px;
}

.breadcrumb-item:not(:last-child) {
  color: var(--color-2);
  font-weight: 500;
}

.breadcrumb-item.active {
  color: #626262;
}

/* Minimum pop up size */
.msg-box {
  min-height: 100px;
}

/* .prod-specs .cell:not(:last-child) {
  border-right: 1px solid var(--color-2-tint);;
} */

/* .prod-specs .stat {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
} */

.prod-specs .cell {
  padding: 0.5rem;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: auto;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container {
  /* max-width: 500px; */
  max-width: 400px;
  position: relative;
}

/* .img-tag {
  position: absolute;
  color: var(--color-1);
  text-align: center;
  bottom: 1em;
  bottom: .5em;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 5px 0px #0c0402;
  border-radius: 0.25rem;
  padding: 0.25rem;
  background: rgba(0, 0 , 0, .5);
} */

/* .img-thumbnail {
  background-color: var(--color-2);
  border: 1px solid var(--color-2-shade);
  box-shadow: var(--img-shadow);
} */

.img-tag {
  position: absolute;
  font-size: 2em;
  color: var(--color-1);
  /* color: #CEAA94; */
  text-align: center;
  bottom: 1em;
  height: 100%;
  padding-top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 5px 0px #0c0402;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  background: rgb(0 0 0 / 33%);
  transition: opacity 1s;
}

.img-tag:hover {
  opacity: 0;
}

.img-shadow {
  /* background: rgba(0, 0 , 0, .5); */
  padding: 0.25rem;
  /* box-shadow: 0px 0px 5px 0px #0c0402;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); */
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1);
  border-radius: 0.25rem;
}

.avatar {
  display: flex;
  width: 100px;
  height: 100px;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  justify-content: center;
  align-items: center;
}

.profile-card {
  /* width: 300px; */
  max-width: 300px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  /* align-items: center; */
  /* cursor: pointer; */
}

.profile-cover {
  height: 100px;
  width: 100%;
  position: relative;
  /* background: linear-gradient(45deg, var(--color-2-shade) 0%,var(--color-2) 100%); */
  /* background-image: url(img1.jpg);
  background-position: center;
  background-size: cover; */
  border-bottom: 3px solid var(--color-3);
  /* border-radius: 15px 15px 50% 50%; */
}

.profile-avatar {
  position: absolute;
  /* width: 100px;
  height: 100px; */
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -75px;
  /* border: 2px solid #fff; */
  /* border: 3px solid var(--color-2); */
}

.profile-details {
  /* text-align: center; */
  margin-top: 80px;
  /* margin-bottom: 25px; */
}

.wave-decoration {
  position: absolute;  
  /* width: 2000px; */
  width: 100vw;
  left: 50%;
  top: auto;
  bottom: 0;
  /* margin: 0 0 0 -1000px; */
  margin-left: -50vw;
  /* z-index: 5; */
  pointer-events: none;
}

.valley-decoration {
  position: absolute;  
  /* width: 2000px; */
  width: 100vw;
  left: 50%;
  top: auto;
  bottom: 0;
  /* margin: 0 0 0 -1000px; */
  margin-left: -50vw;
  /* z-index: 5; */
  pointer-events: none;
}

.wave-decoration svg,
.valley-decoration svg {
  margin: 0 -2px -6px;
}

.wave-decoration svg path,
.valley-decoration svg path {
  /* fill: #083a50; */
  fill: var(--body-bg);  
}

.deco-frame {
  /* border: 0.8rem solid #430a0a; */
  border: 0.8rem ridge #311309;
  border: 0.8rem ridge var(--color-2-shade);
  border: 0.8rem ridge var(--color-2);
}

.deco-screen-light {
  /* box-shadow: 3px 3px 6px #0c0402; */
  /* box-shadow: 0px 0px 5px 0px #0c0402; */
  border-radius: 5px;
  /* padding: 1.5em; */
  backdrop-filter: blur(2em);
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(255, 255, 255, .15);
  background: hsla(0,0%,100%,0.8);
  /* text-shadow: 1px 2px 4px rgba(0,0,0,.4); */
  /* margin: 40px auto 50px; */
}

.deco-screen-dark {
  /* box-shadow: 3px 3px 6px #0c0402; */
  /* box-shadow: 0px 0px 5px 0px #0c0402; */
  border-radius: 5px;
  /* padding: 1.5em; */
  /* text-shadow: 0px 2px 6px black; */
  /* text-shadow: 1px 2px 4px rgba(0,0,0,.4); */
  /* backdrop-filter: blur(1em); */
  /* background: rgba(0, 0 , 0, .5); */
  /* margin: 40px auto 50px; */
  /* backdrop-filter: blur(1px); */
  /* background: rgb(0, 0, 0, .2); */
  background: rgb(0, 0, 0, .4);
}


/* Fade animations */

/*
.fade-in {
  animation: fade-frames 1.5s ease 5s forwards;
  animation: fade-frames 1.5s ease 1s forwards;
  opacity: 0;
} */

/*
.fade-out {
  animation: fade-frames 5s ease 5s backwards;
  opacity: 0;
} */

/*
@keyframes fade-frames {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */


/* Slide Carousel */
/* .carousel-wrapper {
  overflow-x: hidden;
  overflow-x: scroll;
} */

/* .carousel-wrapper::-webkit-scrollbar {
  height: 0.5rem;
} */

/* .carousel-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 4px rgb(187, 187, 187);
  box-shadow: inset 0 0 5px 4px #bbbbbb80;
  border-radius: 1rem;
} */

/* Handle */
/* .carousel-wrapper::-webkit-scrollbar-thumb {
  background: rgb(144, 144, 144);
  background: var(--color-3-tint);
  background-color: var(--color-3);

  background-color: var(--color-2-shade);
  border-radius: 1rem;
} */

/* Handle on hover */
/* .carousel-wrapper::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(180deg, var(--color-3-tint) 0%, var(--color-3) 100%);
} */

/* .slide-carousel:hover,
.carousel-wrapper:hover .slide-carousel {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
} */

/* .slide-carousel {
  display: flex;
  flex-wrap: nowrap;
  margin: 32px 0;
  width: calc((300px + 32px) * 6);
  width: calc(300px * 7);
} */

/* Sliding animations */
.slide-across {
  animation: sliding 40s infinite linear;
}

.slide-sway {
  animation: sway 40s infinite alternate linear;
}

.slide-across:hover,
.slide-sway:hover {
  /* -webkit-animation-play-state: paused; */
  animation-play-state: paused;
}

@keyframes sliding {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes sway {
  0% {
    /* transform: translateX(100vw); */
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}


.rotate {
  animation: rotation 40s linear infinite;
}

.rotate:hover {
  /* -webkit-animation-play-state: paused; */
  animation-play-state: paused;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
